@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: var(--font-inter);

  --color-primary-blue: #3772ff;
  --color-primary-purple: #9757d7;
  --color-primary-orange: #ff6838;
  --color-primary-green: #58bd7d;

  --color-secondary-blue: #4bc9f0;
  --color-secondary-beige: #e4d7cf;
  --color-secondary-yellow: #ffd166;
  --color-secondary-purple: #cdb4db;

  --color-neutral-100: #ffffff;
  --color-neutral-200: #fcfcfd;
  --color-neutral-300: #f4f5f6;
  --color-neutral-400: #e6e8ec;
  --color-neutral-500: #b1b5c3;
  --color-neutral-600: #777e90;
  --color-neutral-700: #353945;
  --color-neutral-800: #23262f;
  --color-neutral-900: #141416;
}
